@using System.Diagnostics
@using System.Web.Configuration
@{
    ViewBag.Title = "Upload";
    var maxFileSize = 5; // default value

    // next 5 lines of code inspired by http://weblogs.asp.net/jgalloway/archive/2008/01/08/large-file-uploads-in-asp-net.aspx
    var config = WebConfigurationManager.OpenWebConfiguration("~");
    var section = config.GetSection("system.web/httpRuntime") as HttpRuntimeSection;
    if (section != null)
    {
        maxFileSize = (int) Math.Floor(section.MaxRequestLength/1024.0);
    }
}

<h2>Upload a Photo</h2>
<div class="speech-bubble"><img alt="exclamation graphic" src="~/Content/attention.png" />&nbsp;&nbsp;Files cannot be larger than <b>@maxFileSize</b> MB. <hr/>If you upload a file that's too big, you'll see a big ugly error from IIS. A cloud-native solution would be to upload directly to Blob storage using the Valet Key Pattern.</div>

@using (Html.BeginForm("Upload", "Page", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file1">Filename:</label><input type="file" name="files" id="file1" />
    
@*
    <label for="file2">Filename:</label><input type="file" name="files" id="file2" />
    <label for="file2">Filename:</label><input type="file" name="files" id="file3" />
    <label for="file2">Filename:</label><input type="file" name="files" id="file4" />
*@

    <input type="submit" value="Upload" />
    <h3>@ViewBag.Message</h3>
}

