<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LOCAL-MediaStorageValetKeyUrl" value="http://127.0.0.1:10000/devstoreaccount1/popmedia?sr=c&amp;si=open-wide-container-access-policy&amp;sig=X0yGw1Ydmu%2BCwk%2FTY7nj5HFgzv%2BIYg%2Bun%2BHQhNMmThk%3D"/>
    <add key="LOCAL-MediaStorageUrlFile.ExtTemplate" value="http://127.0.0.1:10000/devstoreaccount1/popmedia/{0}{1}"/>
    <add key="CLOUD-MediaStorageValetKeyUrl" value="https://popmedia.blob.core.windows.net/popuploads?sr=c&amp;sv=2012-02-12&amp;si=untrusted-uploader&amp;sig=rucDF%2FQilE%2F7ax8v4v2TLLftH%2F%2Fr%2BAHVvoCGh6X7nHc%3D"/>
    <add key="CLOUD-MediaStorageUrlFile.ExtTemplate" value="http://popmedia.blob.core.windows.net/popuploads/{0}{1}"/>
    <!-- TODO: reset the ValetKey values for Queue -->
    <add key="CLOUD-MediaIngestionQueueValetKeyUrl" value="https://popmedia.queue.core.windows.net/media-ingestion?sv=2012-02-12&amp;si=PoP.WebTier&amp;sig=%2BabQMVAima4STGcBhGMl3dMK%2FfnBX4fPlVARe5%2FMVn0%3D"/>

    <add key="MediaStorageValetKeyUrl" value="http://127.0.0.1:10000/devstoreaccount1/popmedia?sr=c&amp;si=open-wide-container-access-policy&amp;sig=X0yGw1Ydmu%2BCwk%2FTY7nj5HFgzv%2BIYg%2Bun%2BHQhNMmThk%3D"/>
    <add key="MediaStorageUrlFile.ExtTemplate" value="http://127.0.0.1:10000/devstoreaccount1/popmedia/{0}{1}"/>
    <add key="MediaIngestionQueueValetKeyUrl" value="http://127.0.0.1:10001/devstoreaccount1/media-ingestion"/>
  </appSettings>
    
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>