@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<p>
        <a href="http://www.cloudarchitecturepatterns.com">Cloud Architecture Patterns</a> (O'Reilly Media, 2012) is a book about cloud architecture written by <a href="http://blog.codingoutloud.com/bio">Bill Wilder</a>.
        It attempts to provide a basic understanding of some key concepts in software architecture and how they relate to cloud computing.
        Some of these include scalability, failure recovery, and latency management.
</p>
<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">The Page of Photos application is so advanced it even has its very own email address!</span>
        <span><a href="mailto:pageofphotos@gmail.com">PageOfPhotos@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Book Author</h3>
    </header>
    <p>
        Book author Bill Wilder is Principal Consultant at Development Partners Software Corporation.<br />
        Bill lives in the Boston area in the USA, though consults anywhere through the marvels of the Internet.<br/>
        More about consulting, training, and speaking at <a href="http://www.devpartners.com">www.devpartners.com</a>.
    </p>
</section>
