@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<p>
        <a href="http://www.cloudarchitecturepatterns.com">Cloud Architecture Patterns</a> (O'Reilly Media, 2012) is a book about cloud architecture written by <a href="http://blog.codingoutloud.com/bio">Bill Wilder</a>.
        It attempts to provide a basic understanding of some key concepts in software architecture and how they relate to cloud computing.
        Some of these include scalability, failure recovery, and latency management.
</p>
<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:pageofphotos@gmail.com">PageOfPhotos@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Location</h3>
    </header>
    <p>
        Development Partners Software Corporation<br />
        is in the Boston area in the USA.
    </p>
</section>
